body{
    margin: 0px;
}
#topo{
   width: 100%;
   background-color: #73b9ff;
   height: 30px;
   position: fixed;
}

.largura-site{
    width: 900px;
    margin: auto;/*centraliza na pagina*/
}

#logotipo{
    width: 140px;
    height: 24px;
    float: left;
    margin-top: 3px ;
}
#menu{
    width: auto;
    height: auto;
    float: right;
    margin-top: 6px;
    text-transform: uppercase;
}
#menu a{
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    margin-left: 50px;
}
#menu a:hover{
    text-decoration: underline ;
    
}
.imgright{
    float: right;
    margin-left: 50px;
}

.imghome{
    float: left;
    margin-top: 80px;
}
#conteudohome{
    width: 545px;
    float: right;
    height: auto;
    margin-top: 100px;
}
.conteudo{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #73b9ff;
}
#rodape{
    width: 100%;
    height: 30px;
    float: left;
    font-size: 14px;
    background-color: #73b9ff;
    color: #FFF;
    text-align: center;
}
p{
    color: #888;
    size: 18px;
    text-align: justify;
}
h1{
    color: rgb(26, 6, 6);
    font-size: 30px;
}
li{
    color: #888;
    size: 18px;
}
li{
    margin-bottom:15px ;
}
ul{
    color: #888;
    font-size: 14px;
    list-style-type: square;
    list-style-position: inside;
}
form{
    color: #888;
    margin-bottom: 50px;
}
input[ type=text]{
    width: 300px;
    height: 25px;
    background-color: #EEE;
    border: solid 1px #73b9ff;
}
textarea{
    width: 400px;
    height: 140px;
    background-color: #EEE;
    border: solid 1px #73b9ff;
    resize: none;
    margin-bottom: 10px;
}